body {
  margin: 0px;
  /* centers all elements in the body */
  text-align: center;
  font-family: "Merriweather", serif;
}

.top_container {
  background-color: #B3E8E5;
  padding: 100px 50px 0px 50px;
  position: relative;
}

.top_cloud {
  position: absolute;
  right: 15%;
  top: 5%;
}

.bottom_cloud {
  position: absolute;
  left: 15%;
  bottom: 55%;
}

.mountain_pic{
  width: 450px;
}
.profile_pic{
  width: 150px;
  margin: 10px;
}

.skill_icons{
  width:100px;
}

h1 {
  /* auto will center */
  margin: 0 auto;
  font-family: "Sacramento";
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.middle_container {}

.skills{

}

.skill_col{
  border-style: 0;
  display: inline-block;
  width: 30%;
  padding: 5px;
  position: relative;
  top: 5px;
  bottom: 5px;
}


.bottom_container {}
